In [4]:
import itertools
import pandas as pd

In [5]:
gender = ["female", "male"]

age = ["young", "adult", "old"]

civil_status = [
    "single",
    "married",
    "widowed",
    "divorced",
    "separated",
    "in a registered partnership"
]

education = [
    "early childhood education",
    "primary education",
    "lower secondary education",
    "upper secondary education",
    "post-secondary non-tertiary education",
    "short-cycle tertiary education",
    "bachelor's or equivalent level",
    "master's or equivalent level",
    "doctoral or equivalent level"
]

occupation = [
    "armed forces",
    "manager",
    "professional",
    "technician or associate professional",
    "clerical support worker",
    "service or sales worker",
    "skilled agricultural, forestry or fishery worker",
    "craft and related trades worker",
    "plant and machine operator or assembler",
    "elementary occupation"
]

In [6]:
# number of all possible combinations
print(len(gender) * len(age) * len(civil_status) * len(education) * len(occupation))

3240

In [7]:
# generate one alias for each possible combination
combinations = list(itertools.product(gender, age, civil_status, education, occupation))

# dataframe to store profiles
profiles = pd.DataFrame(combinations, columns=["gender", "age", "civil_status", "education", "occupation"])
profiles.insert(0, 'id', range(1, len(profiles) + 1))

In [8]:
profiles.head(5)

,id,gender,age,civil_status,education,occupation
0,1,female,young,single,early childhood education,armed forces
1,2,female,young,single,early childhood education,manager
2,3,female,young,single,early childhood education,professional
3,4,female,young,single,early childhood education,technician or associate professional
4,5,female,young,single,early childhood education,clerical support worker

In [9]:
# Save as json
profiles.to_json('../data/synthetic_profiles.json', orient='records')